{% extends 'main.html' %}

{% block login %}
<div class="large-offset-3 large-6 columns">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <lable for="username">Name user</lable>
        <input type="text" name="username" id="username">
        <lable for="password">Password</lable>
        <input type="password" name="password" id="password">
        {% if login_error %}
        <lable class="error">{{ login_error }}</lable>
        {% endif %}
        <input class="button" type="submit" value="login button">
            <div class="lable round secondary"><a href="/auth/register/">Register</a></div>﻿
    </form>
</div>`
{% endblock %}

